@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,300,300italic,100);
/* CSS Document */
html,
body {
	background-color:#2B2B2B;

	font-weight:100;
	font-family:'Roboto', sans-serif !important;
	color:#ffffff;

  font-size:62.5%;
	
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

h1 {
	font-size:15em;
	font-weight:100;
}

h2{
	font-size:12em;
  font-weight:100;
}

h3 {
	font-size:5em;
  font-weight:300;
}

h4 {
	font-size:3.4em;	
  font-weight:300;
}

h5 {
  font-size:2.6em;
  font-weight:300;
}

p {
	font-size:2.0em;
  font-weight:300;
}

.light {
	font-weight: 100;
}

.welcome-quote {
	font-size:10em;
	padding:1%
}

h1 > strong, h2 > strong {
	color:#CE2020;
  font-weight:100;
}

h3 > strong {
	color:#CE2020;
	font-weight:300;
}

a {
  color:white;
	background-color:transparent;
}

a:hover, a:focus {
	color:#CE2020;
	text-decoration:none;
	background-color:transparent;
}

.highlight {
	color:#CE2020;
}

u {
  text-decoration:none;
  border-bottom:1px solid white;
}​

u:hover {
  color:#CE2020;
  text-decoration:none;
  background-color:transparent;
}

.btn {
  font-size:1em;
  border-radius:4px;
  color:white;
  border-color:transparent;
  
}

.btn.raised, .btn:focus {
  color:white;
  background-color:#CE2020;
  border-color:transparent;
}

.btn:hover {
  color:white;
  border-color:transparent;
  background-color:rgba(211,47,47,1.0);
  
  transition:box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay:0.02s;
  box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.btn:active {
  border-color:transparent;
  background-color:rgba(244,67,54,1.0);
  
  transition:box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay:0.02s;
  box-shadow:0 3px 10px 0 rgba(0, 0, 0, 0.30);
}

.btn.raised:active {
  color:white;
  background-color:rgba(244,67,54,1.0);
  border-color:transparent;
}

.shadow {
  box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

div {
  border-radius:4px;
}

div h1 {
  position:relative;
  padding-top:2%;
  text-align:center;
}

div h2 {
  position:relative;
  padding-top:5%;
  text-align:center;
}

div h3 {
  position:relative;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

div h4{
  position:relative;
  margin-left:auto;
  margin-right:auto;
	text-align: center;
  line-height:1.5em;
}

div h5 {
  position:relative;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}

.btn-no-outline {
  text-align:center;
}

.btn-no-outline:hover {
  background-color:rgba(204,204,204,0.15);
}

.btn-no-outline:focus {
  background-color:rgba(204,204,204,0.25)
}

.div-info-text {
	margin:0;
	width:100%;
	position:absolute;
  bottom:0;
  left:0;
	padding:16px;
	background-color:rgba(0,0,0,0.5);
}

.welcome-div {
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../media/welcome_bg.png');
  background-size:cover;
  background-position:center;
  height:400px;
  color:white;
  
  /* Makes .welcome-div flush with screen, as <body> margin is manually set to 5px; */
  margin:-10px;
  margin-bottom:1%;
  margin-top:-1.5%;
	
	border-radius:0;
}

.no-background-div {
  min-height:50em;
  max-width:700px;
  color:white;
  margin:auto;
  position:relative;
}

/* Main Page Divs */

.portfolio-div {
	background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../media/Computer-Programming-Sucks.jpg');
  background-size:cover;
  background-position:center;
	position:relative;
  height:400px;
  color:white;
  
	margin-top:10px;
	
	overflow:hidden;
}

.blog-div {
  min-height:50em;
  max-width:700px;
  color:white;
  margin:auto;
  position:relative;
}

/* About Page Divs */

.schools-div {
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../media/DePaul_University.jpg');
  background-size:cover;
  background-position:center;
	position:relative;
  height:400px;
  color:white;
  
	margin-top:10px;
	
	overflow:hidden;
	
	margin-right: -10px;
}

.languages-div {
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../media/Computer-Programming-Sucks.jpg');
  background-size:cover;
  background-position:center;
	position:relative;
  height:400px;
  color:white;
  
	margin-top:10px;
	
	overflow:hidden;
	
	margin-left: -10px;
}

.hobbies-div {
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../media/swimming.png');
  background-size:cover;
  background-position:center;
	position:relative;
  height:400px;
  color:white;
  
	margin-top:10px;
	
	overflow:hidden;
	
	margin-right: -10px;

}

.inspirations-div {
  background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../media/Steve Jobs.png');
  background-size:cover;
  background-position:center;
	position:relative;
  height:400px;
  color:white;
  
	margin-top:10px;
	
	overflow:hidden;
	
	margin-left: -10px;
}

.grow {
  transition:all .1s ease-in-out;
	opacity: .9;
}
.grow:hover{
	opacity: 1;
  box-shadow:0 2px 6px rgba(0,0,0,0.24), 0 2px 4px rgba(0,0,0,0.84);
	color:white;
}