@charset "utf-8";
/* CSS Document */
html,
body {
    background-color: #F2F2F2;

    overflow-x: hidden; /* Prevent horizontal scroll on narrow devices */

    /* Font Anti-Aliasing techniques */
    -webkit-font-smoothing: subpixel-antialiased; /* Safari/Webkit on Mac*/
    -moz-osx-font-smoothing: grayscale; /* Firefox 25+ for Mac */
    overflow: inherit;
    padding-right: 0 !important;
}

body {
    padding-top: 60px;
}

.navbar {
    height: 60px;
    border-radius: 0;
    border-color: transparent;

}

.navbar-brand {
    margin: 5px auto;
}

.navbar-brand > span {
    padding-left: 100px;
}

.navbar-right {
    padding-right: 25px;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 52px;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 52px;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 35px;
}

h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 28px;
}

h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 28px;
}

h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 26px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 26px;
}

blockquote {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 25px;
}

.welcome-name {
    font-size: 85px;
    line-height: 90px;
}

.welcome-subname {
    line-height: 74px;
}

strong {
    color: #CE2020;
    font-weight: inherit;
}

a {
    color: inherit;
    background-color: transparent;
}

a:hover, a:focus {
    color: #CE2020;
    text-decoration: none;
    background-color: transparent;
}

u {
    text-decoration: none;
    border-bottom: 1px solid #FFFFFF;
}

u:hover {
    color: #CE2020;
    text-decoration: none;
    background-color: transparent;
}

.logo {
    height: 40px;
    margin-top: -10px;
}

.align-center { /* Centers the text/buttons in the div vertically and horizontally */
    display: flex;
    flex-direction: column;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.welcome-div {
    display: table-cell;
    vertical-align: middle;
    padding-top: 50px;
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('../media/welcome_bg.png') center;
    background-size: cover;
    height: 435px;
    color: #FFFFFF;

}

button {
    margin: -8px -15px;
}

.portfolio-image {
    display: inline-block;
    margin-top: 30px;
}

.portfolio-image > figure {
    overflow: hidden;
    position: relative;
    transition: all .6s ease;
    border: 10px solid #CCCCCC;
}

.portfolio-image > figure > figcaption {
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
    padding: 10px 10px;
    width: 100%;
    bottom: 0;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;

    /* Backdrop-filter is a new css filter allows you to apply effects such as blur, greyscale, hue-rotate, and others,
       only instead of applying them to the element itself, they’re applied to whatever is behind the element.

       Note: Backdrop-filter is not yet supported on any major browser except for Safari on iOS 9 and Mac OS 10.11
       Chrome has support for backdrop-filter in the experimental web platform features flag but it is not default yet.\
       IDK what is happening with Firefox and Edge with this flag, but I believe Mozilla will implement it soon. */
    -webkit-backdrop-filter: blur(10px);
    /*backdrop-filter: blur(10px);*/
}

.portfolio-image > figure:hover figcaption {
    opacity: 0;
    bottom: -50%;
}

.section-header {
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    overflow: hidden;
    height: 150px;
}

#about-me {
    padding-bottom: 50px;
}

#languages {
    line-height: 60px;
}

.modal-title {
    text-align: center;
}

.modal-header {

    color: #FFFFFF;
}

.modal-content {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    border: 10px solid #CCCCCC;
}

.btn-close {
    margin-top: 2px;
    margin-right: 5px;
}

.btn-default {
    font-size: 18px;
    background-color: #DDDDDD;
    border: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

figure > * {
    margin: 0 auto 0.55em;
    display: block;
}
